.env
node_modules/
data/
coverage/
example/dist/
example/.workspaces/
packages/prompt-prism/public/dashboard/
packages/prompt-prism/dist/
packages/prompt-prism/README.md
packages/prompt-prism/LICENSE
packages/prompt-prism/docs/
.DS_Store
